src/btdf/Samples/BizTalk/IIS/IIS.Test/Service References/ProcessPO/ProcessPOService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://IIS.InvoiceSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://IIS.InvoiceSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Invoice" type="InvoiceType" />
  <xs:complexType name="InvoiceType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string" />
      <xs:element name="TotalPrice" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>