src/btdf/Samples/BizTalk/IIS/IIS.Test/Service References/ProcessPO/ProcessPOService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://IIS.POSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://IIS.POSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PO" type="POType" />
  <xs:complexType name="POType">
    <xs:sequence>
      <xs:element name="PO_Number" type="xs:string" />
      <xs:element name="Total" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>